<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MSGEntities" connectionString="metadata=res://*/ServiceData.csdl|res://*/ServiceData.ssdl|res://*/ServiceData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=SOAWLIMSDB;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>