@model SOA.WLIMS.Models.OrderModel

@{
    ViewBag.Title = "导出订单";
}

<h2>导出订单</h2>

<fieldset>
    <legend>将订单到处到表格中</legend>

  
</fieldset>
<p>
     @Html.ActionLink("Back to List", "Index")
</p>

